graphs/
.history
.vscode
sdk/upmem-2024.2.0-Linux-x86_64/src/backends/build

SpMV/dataset
SpMV/SparseP_ES/results
SpMV/SparseP_ES/bin
SpMV/figures

SpMV/SparseP_EW/bin
SpMV/SparseP_EW/results

SpMV/SpMV_OFIS/results
SpMV/SpMV_OFIS/bin
SpMV/SpMV_OFIS/save_dcsr.c
SpMV/SpMV_OFIS/CPU_baseline*

PageRank/bin/
PageRank/dataset
PageRank/obj
PageRank/result
PageRank/figures

Regex/README.md
Regex/dataset
Regex/results
Regex/CPU_only/*.o
Regex/figures
Regex/Regex-PIM/bin

CLAUDE.md
